.main-list {
    width: 100%;
    position: relative;
    left: -45px;
    background-color: transparent;
    margin-top: 30px;
}
.our-menu {
    font-size: 30px;
    text-align: center;
    background-color: transparent;
} 
.left-align-text ion-label {
    flex: 1; 
    padding-left: 70px;
}
