<ion-header mode="ios" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="login">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img class="ion-margin-bottom" src="../../../../assets/img/logo.jpg" alt="Brick Story"></ion-img>
  <ion-buttons class="ion-padding">
    <ion-button color="primary" expand="block" shape="round" fill="solid" routerLink="/auth/login">
      Login
    </ion-button>
    <ion-text color="primary" class="ion-text-center">
      <p>Not Yet Registered?</p>
    </ion-text>
    <ion-button color="primary" expand="block" shape="round" fill="solid" routerLink="/auth/signup">
      Register
    </ion-button>
  </ion-buttons>
</ion-content>