.skeleton-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 250px;
  max-height: 300px;
  max-width: 400px;
  border-radius: 10px;
  margin: 5px;
  background: rgba(81, 100, 102, 0.25);
  overflow: hidden;

  .top-label {
    background: #51646670;
    width: 80px;
    margin-top: 10px;
    height: 28px;
    border-radius: 3px;
    display: flex;
    align-items: center;

    ion-skeleton-text {
      --background: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
    }
  }

  .footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;

    .ribbon {
      width: 70%;
      height: 40px;
      --f: .5em;
      --r: .8em;
      position: absolute;
      bottom: 9px;
      left: calc(-1 * var(--f));
      background: linear-gradient(
        90deg,
        rgba(58, 87, 91, 0.35) 25%,
        rgba(81, 100, 102, 0.5) 50%,
        rgba(58, 87, 91, 0.35) 75%
      );
      background-size: 200% 100%;
      border-top: var(--f) solid rgba(0, 0, 0, 0.2);
      border-right: var(--r) solid transparent;
      clip-path: polygon(
        calc(100% - var(--r)) 100%,
        0 100%,
        0 var(--f),
        var(--f) 0,
        var(--f) var(--f),
        calc(100% - var(--r)) var(--f),
        100% calc(50% + var(--f) / 2)
      );
      animation: shimmer 1.5s infinite linear;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
