<ion-header mode="ios" class="ion-no-border ion-text-center">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> How It Works </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text color="primary" class="how-it-work">
    <p class="ion-text-center">How It Works</p>
  </ion-text>
  <ion-text color="primary">
    <p class="ion-text-center">
      When you click on the "Search" tab on the left-hand side.you are able to search all the homes on
      Brickstory.com.You can refine your search to simply a type of home,age or home size along with a number of other
      filter options .From here you can navigate your selected homes to find more photos and stories. you can even sort
      and man the homes tha are closed to you.
    </p>
  </ion-text>
  <div class="ion-text-center ion-margin-top">
    <img class="main-img" src="../../../../../assets/img/searchhomes.png" alt="">
  </div>
  <ion-text color="primary" class="how-it-work">
    <p class="ion-text-center">Search</p>
  </ion-text>
  <ion-text color="primary">
    <p class="ion-text-center">
      When you click on the "Search" tab on the left-hand side.you are able to search all the homes on
      Brickstory.com.You can refine your search to simply a type of home,age or home size along with a number of other
      filter options .From here you can navigate your selected homes to find more photos and stories. you can even sort
      and man the homes tha are closed to you.
    </p>
  </ion-text>
  <div class="ion-text-center ion-margin-top">
    <img class="main-img" src="../../../../../assets/img/myhomes.png" alt="">
  </div>
  <ion-text color="primary" class="how-it-work">
    <p class="ion-text-center">My Homes</p>
  </ion-text>
  <ion-text color="primary">
    <p class="ion-text-center">
      When you click on the "My Homes" tab on the left-hand side.you will see the homes that personally added.you will
      see the photo of the home and just below that.the number of homes we have on that home. Here could be a story or a
      photo or both,of a time and experience you had in and around that home.To see more detail about the home. simply
      click the image of home.
    </p>
  </ion-text>
  <div class="ion-text-center ion-margin-top">
    <img class="main-img" src="../../../../../assets/img/hometimeline.png" alt="">
  </div>
  <ion-text color="primary" class="how-it-work">
    <p class="ion-text-center">My Timelines</p>
  </ion-text>
  <ion-text color="primary">
    <p class="ion-text-center">
      When you click on the "My Timeline" tab on the left- hand side. you will see the chronological listing of homes
      that you have lived in.
    </p>
  </ion-text>
</ion-content>