ion-list,
ion-button {
  margin: auto;
  max-width: 500px;
  background: transparent !important;
  ion-item {
    margin: 10px 0px;
    border-radius: 10px;
    ion-avatar {
      --border-radius: 4px;
    }
  }
  .checkbox {
    --background: transparent;
  }
}
ion-label {
  font-size: 15px;
}
ion-select::part(icon) {
  position: absolute;
  right: var(--padding-end);
}
ion-item[type="button"]::part(native) {
  padding: 0px !important;
}
ion-item {
  #imagePreview {
    position: fixed;
    ion-icon {
      position: absolute;
      cursor: pointer;
      color: var(--ion-color-secondary);
      right: -5px;
      font-size: 20px;
      top: -5px;
      z-index: 1000;
    }
  }
}

span{
  color: red;
  font-size: 22px;
}

.invalid-item {
  border: 2px solid red;  
  margin-bottom: 8px;
}

.error-message {
  color: red;
  font-size: 15px; 
  margin-top: -5px;
  margin-bottom: 0.5rem;
}
.native-date {
  width: 100%;
  height: 100%;
  border: none !important;
  border-radius: 8px;
  background-color: white !important;
  background: white !important;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}