ion-list,
ion-button {
  margin: auto;
  max-width: 500px;
  background: transparent !important;
  ion-item {
    margin: 10px 0px;
    border-radius: 10px;
    ion-avatar {
      --border-radius: 4px;
    }
  }
  .checkbox {
    --background: transparent;
  }
}
ion-label {
  font-size: 18px;
}
ion-select::part(icon) {
  position: absolute;
  right: var(--padding-end);
}
ion-item[type="button"]::part(native) {
  padding: 0px !important;
}
ion-item {
  #imagePreview {
    position: fixed;
    ion-icon {
      position: absolute;
      cursor: pointer;
      color: var(--ion-color-secondary);
      right: -5px;
      font-size: 20px;
      top: -5px;
      z-index: 1000;
    }
  }
}
