<ion-header mode="ios" class="ion-no-border ion-text-center">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="login"> Forget Password </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <form #forgetPasswordForm="ngForm" (ngSubmit)="login()">
    <ion-list lines="none">
      <ion-item>
        <ion-input
          [(ngModel)]="user.email"
          name="email"
          type="email"
          placeholder="Email"
          required
          email
          #emailInput="ngModel"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
        class="error-message"
      >
        <p *ngIf="emailInput.errors?.['required']">Email is required.</p>
        <p *ngIf="emailInput.errors?.['email']">Invalid email format.</p>
      </div>
    </ion-list>
    <ion-buttons class="ion-padding">
      <ion-button
        type="submit"
        size="large"
        color="primary"
        fill="solid"
        shape="round"
        [disabled]="forgetPasswordForm.invalid"
        >Submit</ion-button
      >
      <ion-button mode="ios" color="primary" routerLink="/auth/login"
        >Back to login</ion-button
      >
    </ion-buttons>
  </form>
</ion-content>
