<ion-header mode="ios" class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" class="login">Settings </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none" button="true"><ion-toggle mode="ios">App Notifications</ion-toggle></ion-item>
    <ion-item lines="none" button="true">
      Version <ion-label slot="end">1.0</ion-label>
    </ion-item>
  </ion-list>
</ion-content>