<ion-header mode="ios" class="ion-no-border ion-text-center">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary"> Notifications </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none" *ngFor="let notification of deliveredNotifications" button="true" detail="true">
      <ion-avatar slot="start">
        <img alt="Silhouette of mountains" [src]="notification.image"
          onerror="this.src='../../../../../assets/img/logo.jpg'" />
      </ion-avatar>
      <ion-label>
        <h3>{{notification.title}} </h3>
        <ion-text color="primary">
          <p>{{notification.body}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>